# PR Review Comment Info: {{title}}

- PR URL: {{url}}
- PR create user: {{create_user}}

---

{% for comment in comments %}
## PR Comments(#{{loop.index}})

- Review Comment URL: {{comment.comment_url}}
- Reviewer: {{comment.reviewer}}
- Review file path: {{comment.file_path}}
- diff:

```{{comment.language}}
{{comment.diff}}
```

## Review comment

<pre>
{{comment.comment}}
</pre>

---
{% endfor %}